<div class="sidebar">
    {% comment %} <a href="{% url 'home' %}"><span class="material-symbols-outlined">
            dashboard
        </span>Dashboard</a> {% endcomment %}
    <a href="{% url 'view_all' %}"><span class="material-symbols-outlined">
            group
        </span>View All</a>
    <a href="{% url 'add_emp' %}"><span class="material-symbols-outlined">
            person_add
        </span>Add Employee</a>
    <a href="{% url 'update_emp' %}"><span class="material-symbols-outlined">
            manage_accounts
        </span>Update Employee</a>
    <a href="{% url 'remove_emp' %}"><span class="material-symbols-outlined">
            person_remove
        </span>Remove Employee</a>
</div>